{#
Copyright 2020 Osia authors 

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}
apiVersion: v1
baseDomain: {{ base_domain }}
{% if certificate_bundle %}additionalTrustBundle: |
  {{ certificate_bundle | indent( width=2, indentfirst=False) }}{% endif %}
compute:
- hyperthreading: Enabled
  name: worker
{% if worker_flavor %}  platform:
    {% block deploymentType %}{% endblock %}:
      type: {{ worker_flavor }}
{% else %}  platform: {}{% endif %}
  replicas: {{ worker_replicas|default("3", true) }}
controlPlane:
  hyperthreading: Enabled
  name: master
{% if master_flavor %}  platform:
    {{ self.deploymentType() }}:
      type: {{ master_flavor }}{% else %}  platform: {}{% endif %}
  replicas: {{ master_replicas|default("3", true) }}
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: {% block networkIp %}{% endblock %}
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:{% block platform %}{% endblock %}
pullSecret: '{{ pull_secret }}'
sshKey: |
  {{ ssh_key }}
