{% extends 'install-config-base.yaml.jinja2' %}
{% block platform %}
  openstack:
    cloud: {{ osp_cloud }}
    computeFlavor: {{ osp_base_flavor }}
    externalNetwork: {{ osp_network }}
    lbFloatingIP: {{ osp_fip }}
    octaviaSupport: "0"
    region: ""
    trunkSupport: "1"{% endblock %}
{% block networkIp %}192.168.0.0/16{% endblock %}
{% block deploymentType %}openstack{% endblock %}
