[packages]
openstacksdk = "*"
boto3 = "*"
jinja2 = "*"
dynaconf = "*"
gitpython = "*"
beautifulsoup4 = "*"
coloredlogs = "*"

[requires]
python_version = "3"

[dev-packages]
pipenv-setup = "*"
flake8 = "*"
ipython = "*"
